<div class="row">
  <div class="col-md-10">
    <h2>Students</h2>
  </div>
  <div class="col-md-2">
    <a class="btn btn-primary float-right" href="<%=new_student_path%>" role="button">Create</a>
  </div>
</div>

<br/>

<ul class="list-group">
  <% @students.each do |student| %>
    <li class="list-group-item"><a href="<%=students_path(id: student.id, section_id: student.section_id , department_id: student.department_id)%>"><%= student.name %></a></li>
  <% end %>
</ul>
